@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/functions.sass';
@import '~bulma/sass/utilities/derived-variables.sass';

$primary: #178fac;
$secondary: #308eac;

// Responsiveness

$tablet: 768px;
